body {
	background-color: #333;
}
#gameName {
	color: darkorange;
	font-family: Courier;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

#game {
	display: block;
	margin: 0px auto 0px;
	/*margin: -500px auto 0px;*/
}